.App {
  text-align: center;
}

.greeting {
  font-size: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  border: 0.5px solid black;
  padding: 4px;
  margin-right: 5%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.pr {
  padding-right: 80%;
}

.delete {
  background-color: red !important;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  margin-bottom: 0px !important;
  border: none;
  display: inline-block;
  padding: 4px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.add {
  background-color: #04aa6d !important;
  border-radius: 5px;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  margin-bottom: 0px !important;
  border: none;
  display: inline-block;
  padding: 4px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 8px;
}
.complete {
  border-bottom: 2px solid blue;
}

.incomplete {
  border-bottom: 2px solid red;
}

.success {
  border: 2px solid blue;
  padding: 1%;
  margin-right: 40%;
  margin-left: 40%;
}

.warning {
  border: 2px solid red;
  padding: 1%;
  margin-right: 40%;
  margin-left: 40%;
}
